/04_interfaz_grafica/CustomControlExample/build/
/04_interfaz_grafica/CustomControlExample/dist/
/07_concurrencia_y_colecciones/ConcurrencyDemo/nbproject/private/
/07_concurrencia_y_colecciones/ConcurrencyDemo/build/
/07_concurrencia_y_colecciones/ConcurrencyDemo/dist/
/10_puesta_en_produccion/ProduccionDemo/nbproject/private/
/10_puesta_en_produccion/ProduccionDemo/dist/
/10_puesta_en_produccion/ProduccionDemo/build/
/10_puesta_en_produccion/ProduccionDemoPreloader/nbproject/private/
/10_puesta_en_produccion/ProduccionDemo-Preloader/nbproject/private/
/10_puesta_en_produccion/ProduccionDemo-Preloader/build/
/10_puesta_en_produccion/ProduccionDemo-Preloader/dist/
/09_integracion/JavaFXSwingApplication1/nbproject/private/
/09_integracion/JavaFXSwingApplication1/build/
/09_integracion/JavaFXSwingApplication1/dist/
/_extra/VentanasDeDialogPoC/nbproject/private/
/_extra/VentanasDeDialogPoC/build/
/_extra/VentanasDeDialogPoC/dist/
/_extra/VFXWindows-Samples-master/VFXWindows-Tutorial-1/target/
/_extra/PoCs/nbproject/private/
/_extra/PoCs/dist/
/_extra/PoCs/build/